ul#menu{
    list-style: none;
    margin :0px;
    padding:0px;
}

.menu-item{
    border : 0.2em solid var(--color-grey);
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 1em;
}

.menu-item:hover{
    cursor: pointer;
    background-color: var(--color-grey);
    border : 0.2em solid var(--color-white);
    font-weight: bold;
}

.menu-item-link{
    text-decoration: none;
    font-size:2em;
}

.menu-item-caption{
    color : var(--color-orange);
}