body{
    align-items: center;
    justify-content: center;
}
div#content{
    display:flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

div#content-left, div#content-right{
    flex: 0.2;
}

#playfield{
    flex: 0.8;
    display:flex;
}
#playfield--left > h3 {
    text-align: center;
    color: #7ed56e;
}
#playfield--canvas {
    display: block;
    margin: 0 auto;
}

#stats {
    list-style: none;
}
#stats > li{
    margin-bottom: 0.5em;
}
.stats-value{
    text-align: right;
    display: inline-block;
    width: 100%;
}

.stats-label{
    font-weight: bold;
    text-align: left!important;
}

#preview-queue {
    width: 160px;
    text-align: center;
    background: #123;
    border-radius: 1em;
    padding-top: 30px;
}
