:root{
    margin : 0;
    padding: 0;
    --color-white:  #FFF;
    --color-black:  #151515;
    --color-red:    #ac4142;
    --color-orange: #f4bf75;
    --color-grey:   #505050;
    
    --title-height: 40px;
    --title-margin-top-bottom: 40px;

    --footer-height: 20px;
}

body, html {
    margin:0;
}

body {
    background-color: var(--color-black);
    color:      var(--color-white);
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
    font-family: sans-serif;
}

footer > p {
    margin:0;
    padding: 0;
}